/* General style */
th, td {
    color: var(--text);
    padding: 5px;
}

tbody > tr:first-child > td {
    border-top: 1px solid var(--text);
    border-collapse: collapse;
}

a {
    text-decoration: none;
    color: var(--text);
}

.container-flex {
}

.table-wrapped {
    width: 100%;
}

.text-left, .text-middle, .text-right {
    margin: 0;
}

.text-left {
    text-align: start;
}

.text-middle {
    text-align: center;
}

.text-right {
    text-align: end;
}

.scrollable {
    overflow: auto;
}

/* Game screen */
#gameStateBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background: var(--primary);
}

#gameStateBar > h3 {
    width: 33%;
    margin: 20px;
    color: var(--text);
    font-family: "Trebuchet MS", sans-serif;
    font-size: 2em;
}

#gameWindow {
    display: flex;
    height: calc(100% - 75px);
}

#shipWindow {
    width: 33%;
    font-family: "Trebuchet MS", sans-serif;
    background: var(--primary-light);
}

#shipWindow > table {
    padding: 15px;
}

#shipWindow th {
    font-size: 1.5em;
}

#planetWindow {
    width: 67%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: black;
}

.planet {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}

.planet > h3 {
    color: var(--text);
    font-family: "Trebuchet MS", sans-serif;
    margin-bottom: 0;
}

.planet-link {
    width: 100px;
    height: 100px;
    background: white;
}

/* Popup */
.popup-title-bar {
    height: 100px;
    flex-direction: row;
    background: var(--primary);
}

.popup-title-bar h3 {
    color: var(--text);
    font-size: 1.2em;
}

.popup-content-window {
    height: calc(100% - 100px);
    flex-direction: row;
}

/* Planet popup */
.planet-popup.popup {
    width: 800px;
    height: 500px;
    flex-direction: column;
}

.planet-popup.popup-title {
    width: 100%;
    margin-left: 75px;
    text-align: center;
}

.planet-popup.exit-button {
    width: 75px;
    text-align: center;
}

.planet-popup.goods-window {
    background: darkseagreen;
    width: 50%;
    height: 100%;
}

#planetPopupGoodsTableFirstColumn {
    width: 99%;
}

.planet-popup.ship-window {
    width: 50%;
    height: 100%;
}

/* Ship popup */
.ship-popup.popup-wrapper {
    width: 33%;
    height: calc(100% - 75px);
    margin-top: 75px;
}

.ship-popup.popup {
    width: 80%;
    height: 500px;
    flex-direction: column;
}

.ship-popup.popup-title-bar {
    justify-content: space-between;
    flex-direction: column;
}

.ship-popup.exit-button {
    align-self: flex-end;
    margin-top: 5px;
    margin-right: 5px;
}

.ship-popup.popup-title {
    width: calc(100% - 30px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ship-popup.goods-window {
    height: calc(100% - 75px);
    padding: 15px;
}

.ship-popup.popup-control-window {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--primary);
}

.ship-popup.popup-control-window h3,label {
    color: var(--text);
}

.ship-popup.button-wrapper {
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ship-popup.btn {
    width: 60px;
    height: 30px;
}
