/* Main page */
body {
    background: var(--primary-light);
}

#titleBar {
    height: 150px;
    background: var(--primary);
}

#titleBar > h1 {
    font-family: "Lucida Sans Unicode", sans-serif;
    color: var(--text);
    font-size: 5.5em;
}

#newGameBar {
    height: 150px;
}

#newGameButton.btn {
    height: 50px;
    width: 150px;
    border-radius: 5px;
    font-size: 1.8em;

    box-shadow:
            1px 1px var(--primary-lighter),
            2px 2px var(--primary-lighter),
            3px 3px var(--primary-lighter);
}

#newGameButton.btn:active {
    box-shadow: none;
    margin-top: 8px;
    margin-left: 8px;
}

.wrapper-flex > h2 {
    color: var(--text);
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.8em;
}

#highscoreTable {
    width: 600px;
    table-layout: fixed;
}

#highscoreTable td,th {
    color: var(--text);
    font-family: "Trebuchet MS", sans-serif;
}

#highscoreTable th {
    font-size: 1.5em;
    border-top: 2px solid var(--text);
    border-collapse: collapse;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* New game popup*/
.new-game-popup.popup {
    width: 375px;
    height: 100px;
    align-items: center;
    flex-direction: column;
}

.new-game-popup.exit-button {
    align-self: flex-end;
    margin-top: 10px;
    margin-right: 10px;
}

#newGamePopupInput {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

#newGamePopupInput > label {
    color: var(--text);
}

#newGamePopupButtonWrapper {
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-game-popup.btn {
    width: 50px;
    height: 20px;
}
