:root {
    --primary: #242126;
    --primary-light: #302C33;
    --primary-lighter: #6B6473;
    --secondary: #333120;
    --secondary-lighter: #545135;
    --accent: #8C4286;
    --text: #FFFFFF
}

/* TAG SELECTORS /////////////////////////////////////////////////////////////////////////////////////////////////////*/
html, body {
    height: 100%;
}

body {
    margin: 0;
}

input {
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    color: #333;
    box-shadow:
            inset 0 2px 0 rgba(0,0,0,.4),
            0 0 4px rgba(0,0,0,0.1);
}

table {
    table-layout: auto;
}

td {
    text-align: center;
}

th:first-child, td:first-child {
    text-align: left;
}

th:last-child, td:last-child {
    text-align: right;
}

/* CLASS SELECTORS ///////////////////////////////////////////////////////////////////////////////////////////////////*/
.container-flex {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.wrapper-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.popup-wrapper {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.popup-wrapper:target {
    visibility: visible;
}

.popup {
    display: flex;
    border-radius: 5px;
    font-family: "Trebuchet MS", sans-serif;
    background: var(--primary-light);
}

.exit-button {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: var(--primary-lighter);
    text-decoration: none;
    color: var(--text);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0;
    border-radius: 3px;
    font-family: "Trebuchet MS", sans-serif;
    color: var(--text);
    background: var(--primary);
    text-decoration: none;

    box-shadow:
            0 0 var(--primary-lighter),
            1px 1px var(--primary-lighter),
            2px 2px var(--primary-lighter);

    transition: all 0.1s ease-in;
}

.btn:hover {
    background: var(--accent);
    text-decoration: none;
}

.btn:active {
    box-shadow: none;
    margin-top: 4px;
    margin-left: 4px;
}