html, body {
    height: 100%;
}

body {
    margin: 0;
}


table {
    table-layout: fixed ;
    width: 600px ;
}

td {
    width: 50% ;
}

th:first-child, td:first-child {
    text-align: left;
}

th:last-child, td:last-child {
    text-align: right;
}

.container-flex {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
}

.wrapper-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#titleBar {
    height: 150px;
    background: aqua;
}

#newGameBar {
    height: 100px;
}

#newGameButton {
    height: 50px;
    width: 150px;
}